<footer class="bg-dark">
    <div class="left_footer">
        <h3 class="fs-3">example@gmail.com</h3>
    </div>
    <article>
        <img src="https://cdn2.vectorstock.com/i/1000x1000/36/06/logo-random-gradient-colorful-style-vector-36253606.jpg" alt="" class="rounded-circle" style="width: 120px; height: 120px; box-shadow: 0 0 7px grey; ">
    </article>
    <div class="right_footer">
        <h2 class="fw-bold">Redes</h2>
        <ul>
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-whatsapp"></i><a></li>
        </ul>
    </div>
</footer>